<section class="about">

  <div class="about-container">

    <!-- TEXTE -->
    <div class="about-text">
      <h2>About Me</h2>

      <p class="about-intro">
        Full-Stack Engineer specialized in Angular & Spring Boot,
        building scalable and high-performance applications with clean architecture and real business impact.
      </p>

      <div class="highlights">
        <div>⚡ Scalable Web Applications</div>
        <div>⚡ Clean Architecture (SOLID)</div>
        <div>⚡ REST APIs & Microservices</div>
        <div>⚡ Data-driven systems</div>
      </div>
    </div>

    <!-- IMAGE -->
    <div class="about-image">
      <img src="assets/images/photo.jpg" alt="Mohamed Shady" />
    </div>

  </div>

</section>